/* Base styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* for small screens (Smartphones) */
@media (max-width: 600px) {
    body {
        background-color: lightyellow; /* Background color for small screens */
    }
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    p, ul { font-size: 16px; }
    img { width: 100%; height: auto; } /* Responsive images */
}

/* for medium screens (Tablets) */
@media (min-width: 601px) and (max-width: 1200px) {
    h1 { font-size: 30px; }
    h2 { font-size: 24px; }
    p, ul { font-size: 18px; }
}

/* for large screens (Desktops) */
@media (min-width: 1201px) {
    h1 { font-size: 36px; }
    h2 { font-size: 28px; }
    p, ul { font-size: 20px; }
}
